@import "./scss/mixins.scss";
@import "./scss/variables.scss";

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;
  background-image: url(./public/images/menu/bg-main-menu.gif);
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-family: inherit;
  cursor: pointer;
  margin: 10px;
  background-color: $third-text-color;
}

.mainBlock,
.mainBlockMenu {
  @include d-flex(center, stretch, column);
}
.footer {
  margin-top: $margin-m;
  text-align: center;
}
.mainBlock {
  padding: $padding-xl;
  border: 1px solid;
  backdrop-filter: blur(5px);
  font-family: $ff-primary;
  .profile {
    display: none;
    text-align: center;
    font-family: $ff-secondary;
    border-bottom: 1px solid;
    margin-top: $margin-m;
  }
  .inputsAndSubmit {
    @include d-flex(center, center, column);
    .input {
      margin: $margin-xs;
      border-radius: $margin-xs;
      padding: $padding-xs;
      border: 2px solid $secondary-text-color;
    }
  }
  &Autorization {
    display: none;
    @include d-flex(center, center);
    margin: $margin-xl;
    .Login,
    .Register {
    display: none;
      
      transition: 0.4s ease-in-out;
    }
    button:hover {
      background-color: $thrid-bg;
    }

  }
  &Menu {
    @include d-flex(center, center, column);

    button {
    display: none;
      width: 250px;
      transition: 0.4s ease-in-out;
    }
    :hover {
      background-color: $thrid-bg;
    }
  }
}


